h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem }

h4, h5, h6 {
  font-size: $ts-smaller;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $text-lh-small;
  margin: 0;
  color: $text-color;
  font-weight: $fw-med;
}

.title-label {
  color: $smoke-gray;
  text-transform: uppercase;
  font-size: $ts-smaller;
  font-weight: $fw-med;
  letter-spacing: 0.13rem;
}
